#include "resource.h"

#ifdef TARGET_WIN7
    #ifdef _WIN64
        // 【严格锁死 64位 独立打包】
        IDR_RCLONE         BIN  "bin/win7/rclone_x64.exe"
        IDR_WINFSP_MSI     BIN  "bin/win7/winfsp.msi"
        IDR_VC_2015_2022   BIN  "bin/VC/VC-2015-2022_x64.exe"
        IDR_KB3140245      BIN  "bin/win7/windows6.1-kb3140245-x64.msu"
        IDR_KB4474419      BIN  "bin/win7/windows6_1-kb4474419-v3-x64.msu"
    #else
        // 【严格锁死 32位 独立打包】
        IDR_RCLONE         BIN  "bin/win7/rclone_x86.exe"
        IDR_WINFSP_MSI     BIN  "bin/win7/winfsp.msi"
        IDR_VC_2015_2022   BIN  "bin/VC/VC_2015-2022_x86.exe"
        IDR_KB3140245      BIN  "bin/win7/windows6.1-kb3140245-x86.msu"
        // 修正：此处已更正为正确的 32位 x86 补丁文件名
        IDR_KB4474419      BIN  "bin/win7/windows6_1-kb4474419-v3-x86.msu"
    #endif
#else
    #ifdef _WIN64
        IDR_RCLONE         BIN  "bin/win10/rclone_x64.exe"
        IDR_WINFSP_MSI     BIN  "bin/win10/winfsp.msi"
        IDR_VC_2015_2022   BIN  "bin/VC/VC-2015-2022_x64.exe"
    #else
        IDR_RCLONE         BIN  "bin/win10/rclone_x86.exe"
        IDR_WINFSP_MSI     BIN  "bin/win10/winfsp.msi"
        IDR_VC_2015_2022   BIN  "bin/VC/VC_2015-2022_x86.exe"
    #endif
#endif

IDR_LANG_EN        BIN  "../lang/en.ini"
IDR_LANG_ZH        BIN  "../lang/zh.ini"
