#include "resource.h"

// Win7 Assets
IDR_WIN7_RCLONE_X86  BIN  "bin/win7/rclone_x86.exe"
IDR_WIN7_RCLONE_X64  BIN  "bin/win7/rclone_x64.exe"
IDR_WIN7_WINFSP_MSI  BIN  "bin/win7/winfsp.msi"

// Win10+ Assets
IDR_WIN10_RCLONE_X86 BIN  "bin/win10/rclone_x86.exe"
IDR_WIN10_RCLONE_X64 BIN  "bin/win10/rclone_x64.exe"
IDR_WIN10_WINFSP_MSI BIN  "bin/win10/winfsp.msi"
