#include "resource.h"

#ifdef TARGET_WIN7
    #ifdef _WIN64
        // 严格匹配您截图中的 64位 新文件名
        IDR_RCLONE         BIN  "bin/win7/rclone_x64.exe"
        IDR_WINFSP_MSI     BIN  "bin/win7/winfsp.msi"
        IDR_VC_2015_2022   BIN  "bin/VC/VC-2015-2022_x64.exe"
        IDR_KB3140245      BIN  "bin/win7/kb3140245_x64.msu"
        IDR_KB4474419      BIN  "bin/win7/kb4474419_x64.msu"
    #else
        // 严格匹配您截图中的 32位 新文件名
        IDR_RCLONE         BIN  "bin/win7/rclone_x86.exe"
        IDR_WINFSP_MSI     BIN  "bin/win7/winfsp.msi"
        IDR_VC_2015_2022   BIN  "bin/VC/VC_2015-2022_x86.exe"
        IDR_KB3140245      BIN  "bin/win7/kb3140245_x86.msu"
        IDR_KB4474419      BIN  "bin/win7/kb4474419_x86.msu"
    #endif
#else
    #ifdef _WIN64
        IDR_RCLONE         BIN  "bin/win10/rclone_x64.exe"
        IDR_WINFSP_MSI     BIN  "bin/win10/winfsp.msi"
        IDR_VC_2015_2022   BIN  "bin/VC/VC-2015-2022_x64.exe"
    #else
        IDR_RCLONE         BIN  "bin/win10/rclone_x86.exe"
        IDR_WINFSP_MSI     BIN  "bin/win10/winfsp.msi"
        IDR_VC_2015_2022   BIN  "bin/VC/VC_2015-2022_x86.exe"
    #endif
#endif

IDR_LANG_EN        BIN  "../lang/en.ini"
IDR_LANG_ZH        BIN  "../lang/zh.ini"
